<!-- multi_camera.launch -->
<!-- Launch multiple "mono_camera_node" nodes from "avt_vimba_camera" to get data from multiple cameras -->
<!-- Custom launch file created by agruet -->

<launch>
    <!-- Driver parameters, these parameters affect the way the ROS driver works -->
    <arg name="number_of_cameras"       default="3"/>
    <!-- Camera_0 -->
    <arg name="camera_0_name"           default="camera_0"              doc="The name of the camera"/>
    <arg name="camera_0_guid"           default="DEV_1AB22C026F7B"      doc="The GUID for the camera to connect to"/>       <!-- Each camera has its own ID. Can be found using Vimba Viewer. -->
    <arg name="camera_0_frame_id"       default="$(arg camera_0_name)"  doc="The frame id of the camera"/>
    <!-- Camera_1 -->
    <arg name="camera_1_name"           default="camera_1"              doc="The name of the camera"/>
    <arg name="camera_1_guid"           default="DEV_1AB22C026F7D"      doc="The GUID for the camera to connect to"/>       <!-- Each camera has its own ID. Can be found using Vimba Viewer. -->
    <arg name="camera_1_frame_id"       default="$(arg camera_1_name)"  doc="The frame id of the camera"/>
    <!-- Camera_2 -->
    <arg name="camera_2_name"           default="camera_2"              doc="The name of the camera"/>
    <arg name="camera_2_guid"           default="DEV_1AB22C026F78"      doc="The GUID for the camera to connect to"/>       <!-- Each camera has its own ID. Can be found using Vimba Viewer. -->
    <arg name="camera_2_frame_id"       default="$(arg camera_2_name)"  doc="The frame id of the camera"/>
    <!-- Camera_3 -->
    <arg name="camera_3_name"           default="camera_3"              doc="The name of the camera"/>
    <arg name="camera_3_guid"           default="DEV_XXXXXXXXXXXX"      doc="The GUID for the camera to connect to"/>       <!-- Each camera has its own ID. Can be found using Vimba Viewer. -->
    <arg name="camera_3_frame_id"       default="$(arg camera_3_name)"  doc="The frame id of the camera"/>
    <!-- Camera_4 -->
    <arg name="camera_4_name"           default="camera_4"              doc="The name of the camera"/>
    <arg name="camera_4_guid"           default="DEV_XXXXXXXXXXXX"      doc="The GUID for the camera to connect to"/>       <!-- Each camera has its own ID. Can be found using Vimba Viewer. -->
    <arg name="camera_4_frame_id"       default="$(arg camera_4_name)"  doc="The frame id of the camera"/>
    <!-- Camera_5 -->
    <arg name="camera_5_name"           default="camera_5"              doc="The name of the camera"/>
    <arg name="camera_5_guid"           default="DEV_XXXXXXXXXXXX"      doc="The GUID for the camera to connect to"/>       <!-- Each camera has its own ID. Can be found using Vimba Viewer. -->
    <arg name="camera_5_frame_id"       default="$(arg camera_5_name)"  doc="The frame id of the camera"/>
    <!-- Camera_6 -->
    <arg name="camera_6_name"           default="camera_6"              doc="The name of the camera"/>
    <arg name="camera_6_guid"           default="DEV_XXXXXXXXXXXX"      doc="The GUID for the camera to connect to"/>       <!-- Each camera has its own ID. Can be found using Vimba Viewer. -->
    <arg name="camera_6_frame_id"       default="$(arg camera_6_name)"  doc="The frame id of the camera"/>


    <!-- Launch Camera_0 -->
    <group if="$(eval number_of_cameras > 0)">
        <include file="$(find avt_vimba_camera)/launch/mono_camera.launch">
            <arg name="name"           value="$(arg camera_0_name)"/>
            <arg name="guid"           value="$(arg camera_0_guid)"/>
            <arg name="frame_id"       value="$(arg camera_0_frame_id)"/>
        </include>
    </group>
    <!-- Launch Camera_1 -->
    <group if="$(eval number_of_cameras > 1)">
        <include file="$(find avt_vimba_camera)/launch/mono_camera.launch">
            <arg name="name"           value="$(arg camera_1_name)"/>
            <arg name="guid"           value="$(arg camera_1_guid)"/>
            <arg name="frame_id"       value="$(arg camera_1_frame_id)"/>
        </include>
    </group>
    <!-- Launch Camera_2 -->
    <group if="$(eval number_of_cameras > 2)">
        <include file="$(find avt_vimba_camera)/launch/mono_camera.launch">
            <arg name="name"           value="$(arg camera_2_name)"/>
            <arg name="guid"           value="$(arg camera_2_guid)"/>
            <arg name="frame_id"       value="$(arg camera_2_frame_id)"/>
        </include>
    </group>
    <!-- Launch Camera_3 -->
    <group if="$(eval number_of_cameras > 3)">
        <include file="$(find avt_vimba_camera)/launch/mono_camera.launch">
            <arg name="name"           value="$(arg camera_3_name)"/>
            <arg name="guid"           value="$(arg camera_3_guid)"/>
            <arg name="frame_id"       value="$(arg camera_3_frame_id)"/>
        </include>
    </group>
    <!-- Launch Camera_4 -->
    <group if="$(eval number_of_cameras > 4)">
        <include file="$(find avt_vimba_camera)/launch/mono_camera.launch">
            <arg name="name"           value="$(arg camera_4_name)"/>
            <arg name="guid"           value="$(arg camera_4_guid)"/>
            <arg name="frame_id"       value="$(arg camera_4_frame_id)"/>
        </include>
    </group>
    <!-- Launch Camera_5 -->
    <group if="$(eval number_of_cameras > 5)">
        <include file="$(find avt_vimba_camera)/launch/mono_camera.launch">
            <arg name="name"           value="$(arg camera_5_name)"/>
            <arg name="guid"           value="$(arg camera_5_guid)"/>
            <arg name="frame_id"       value="$(arg camera_5_frame_id)"/>
        </include>
    </group>
    <!-- Launch Camera_6 -->
    <group if="$(eval number_of_cameras > 6)">
        <include file="$(find avt_vimba_camera)/launch/mono_camera.launch">
            <arg name="name"           value="$(arg camera_6_name)"/>
            <arg name="guid"           value="$(arg camera_6_guid)"/>
            <arg name="frame_id"       value="$(arg camera_6_frame_id)"/>
        </include>
    </group>

</launch>